{{ title }}
<a class="ml-2" {% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>    
  <i class="nova-arrow-down icon-text icon-text-xs"></i>
  <i class="nova-arrow-up icon-text icon-text-xs"></i>
</a>
