{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="form-signin">
  <p>
    <b>Se ha enviado un correo electrónico a su cuenta con un link de activación al que debe acceder para restablecer su contraseña.</b>
  </p>

  <p>Nota: Para solicitar una nueva contraseña debe esperar 2 horas.</p>

  <p>Si no recibes su correo electrónico, verifique su carpeta de correo no deseado o SPAM.</p>

  <a href="{{ path("inicio") }}" class="btn btn-lg btn-sm btn-outline-dark btn-block">
    Iniciar sesión
  </a>
</div>
{% endblock %}
