{% extends 'base/layout-user-out.html.twig' %}

{% block contenido_principal %}
  {% block fos_user_content %}

  {% endblock %}
{% endblock contenido_principal %}

{% block contenido_extra %}
  <div class="mx-auto text-center" style="max-width:420px;margin-top:30px;">
    <div class="mx-auto text-center" style="max-width:420px; margin-top:10px;">
      Para más información, contáctenos en &nbsp;  <a href="mailto:ayudanotificacion@justicialarioja.gob.ar" > ayudanotificacion@justicialarioja.gob.ar</a>
    </div>
  </div>
{% endblock contenido_extra %}
