<div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
  <ul class="list-dot list-inline mb-0">
    <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2">
      <a class="link-dark" href="#">
        <i class="nova-book d-inline-block"></i>
        &nbsp;Manual de usuario
      </a>
    </li>
  </ul>
</div>

<div class="col-lg text-center mb-3 mb-lg-0">

</div>

<div class="col-lg text-center text-lg-right">
  &copy; 2019 TSJ La Rioja. Dirección de Informática.
</div>
